body {
    position:absolute;
    height: 98%;
    width: 98%;
}

#container3 {
    position: absolute;
    height: 100%;
    width:  100%;
    // Following config for Medialab-Prado big screen
    //height: 125px;
    //width:  192px;
    //top: 0px;
    //left: 0px;
}

video#video_video {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100px;
}

canvas#video_canvas {
    position: absolute;
}

#controls {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid red;
    z-index: 30;
}

#div_zoom {
    border: 1px solid orange;
    position: absolute;
    right: 0px;
    bottom: 0px; 
    width: 100px;
    height: 200px;
    z-index: 10;
}
#div_viewpoints {
    border: 1px solid orange;
    position: absolute;
    right: 100px;
    bottom: 0px; 
    width: 200px;
    height: 200px;
    z-index: 20;
}
